.heading {
    font-family: "Poppins", sans-serif;
    margin-bottom: 3rem;
}

.heading-sub-text {
    color: var(--soft-white);
}

.heading-text {
    color: var(--soft-white);
    font-size: 2.5rem;
}

.about-content {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    font-size: 1rem;
}

.split-about {
    display: flex;
    justify-content: center;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    .about-content {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .heading-sub-text {
        font-size: 90%;
    }

    .heading-text {
        font-size: 2rem;
    }

    .about-content {
        font-size: .8rem;
    }
}